* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

body {
    overflow-x: hidden;
    padding-top: 70px;
}

.title {

    background-color: #1B2A41;
    padding: 5px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlename {
    background-color:antiquewhite;
    width: 400px;
    text-align: center;
    height: 50px;
}


.mainbanner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerimg img {
    width: 2100px;
    height: 610px;

}

.container {
    background-color: antiquewhite;
    padding: 10px;
    width: 100%;
    height:150px
}

.crew {
    display: flex;
    width: 100%;
    justify-content:space-around;
}



